<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Teacher-Student Resource Hub</title>

    <!-- Link to external sidebar CSS -->
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <!-- Sidebar -->
   <div class="sidebar">
        <i class="fa fa-book" aria-hidden="true" style="font-size: 100px; color: rgb(2, 2, 54);"></i>
        <p>User Name</p>
        <hr>
        <ul style="list-style: none;">
            <li><i class="fa fa-user" aria-hidden="true"></i> Profile</li>
            <a href="upload.html" style="text-decoration: none; color: black;"><li><i class="fa fa-upload" aria-hidden="true"></i> Upload</li></a>
            <li><i class="fa fa-info-circle" aria-hidden="true"></i> About</li>
            <li><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</li>
        </ul>
    </div>

    <!-- Main Content -->
    <div class="bod"> <div class="block1">
        <p style="font-family: 'Times New Roman', Times, serif;">Welcome Reader!</p>
     </div><hr>
     <a href="sports_page.html" style="text-decoration: none;"><div class="block" id="sports">
        <h1>Sports <i class="fa fa-futbol-o" aria-hidden="true"></i></h1>
     </div></a>
     <a href="musicPage.html" style="text-decoration: none;"><div class="block" id="music">
        <h1>Music <i class="fa fa-music" aria-hidden="true"></i></h1>
     </div></a>
     <a href="sciencepage.html" style="text-decoration: none;"><div class="block" id="science">
        <h1>Science <i class="fa fa-flask" aria-hidden="true"></i></h1>
     </div></a>
     <a href="artPage.html" style="text-decoration: none;"><div class="block" id="art">
        <h1>Art <i class="fa fa-paint-brush" aria-hidden="true"></i></h1>
     </div></a>
   </div>


</body>
</html>
