<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Teacher-Student Resource Hub</title>

    <!-- Link to external sidebar CSS -->
    <link rel="stylesheet" href="index.css">

    <style>
        div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
        }

        div.gallery:hover {
        border: 1px solid #777;
        }

        div.gallery img {
        width: 100%;
        height: auto;
        }

        div.desc {
        padding: 15px;
        text-align: center;
        }
    </style>
</head>

<body>
    <div style=" padding: 15px;">
        <h1 style="font-size:xx-large; background-color: rgb(1, 1, 51); padding: 10px; border-radius: 5px; color: white;">Sports <a href="index.html" style="color: white;"><i class="fa fa-home" style= "padding-left: 90%;"></i></a></h1>
        <hr>
        <div>

    <div class="gallery">
        <a target="_blank" href="pdf.jpeg">
        <img src="pdf.jpeg" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>

    <div class="gallery">
  <a target="_blank" href="pdf.jpeg">
    <img src="pdf.jpeg" alt="Forest" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="pdf.jpeg">
    <img src="pdf.jpeg" alt="Northern Lights" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="pdf.jpeg">
    <img src="pdf.jpeg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
    
        </div>
    </div>
</body>
</html>